* {
    padding: 0;
    margin: 0
}

li {
    list-style: none;
}

html,
body,
#root,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 35px;
    overflow: hidden;
    overflow-y: scroll;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: palevioletred;
}

b,
i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

i {
    border-bottom: 1px solid #ccc;
}

.bottom {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

input {
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    border: 0;
}

.active {
    color: #ccc;
}

.color {
    color: red;
}