li {
    list-style: none;
}

.ul {
    width: 400px;
    font-size: 17px;
}

.page {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 10px 0;
    justify-content: space-between;
}

.title {
    display: flex;
}

.btn {
    box-sizing: border-box;
    width: 200px;
    display: flex;
    padding: 0 20px;
    display: none;
}

.btn i {
    text-align: center;
    margin: 0 10px;
}

.ul li>.title:hover .btn {
    display: block;
}